#an{
    color:white ;
    text-decoration: none;
}
#an{
    color: white;
    text-decoration: none;
}
.box{
    border: 2px solid black;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 40%;
    padding: 3%;
}
.box{
    border: 2px solid black;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 40%;
    padding: 3%;
}
